*{
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;

}
.container .table{
    width: 75%;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.container .table tr{
    padding: 5px;
    margin: 5px;
    background-color: rgb(223, 132, 132);
}
.hirgana{
    padding: 5px;
    margin: 5px;
    font-size: 30px
}
.container .table tr td:first-child{
    background-color: green;
}
.footer{
 width: 100%;
}
.footer div{
    display: inline;
    padding: 2px;
    cursor: pointer;
    border-right: red solid 2px;
}
