*{
    box-sizing: border-box;
}

body{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
}
.canvas-block{
    display: flex;
    flex-direction: row;
    float: left;
}

